force-app/main/default/flows/CSVDataProcessingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateRecords_from_RecievedDocument</name>
        <label>Create Records from RecievedDocument</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>importRecordsFromCsvFile</actionName>
        <actionType>importRecordsFromCsvFile</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fetch_Failure_message_from_Recieved_Document</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>insert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivedDocumentId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectApiName</name>
            <value>
                <elementReference>selectedEntity.objectType</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CSVDataProcessingFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Received Document Data Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Failure_message_from_Recieved_Document</name>
        <label>Fetch Failure message from Recieved Document</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReceivedDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The processing of records has &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;failed&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; for the below reason. Please &lt;/span&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;fix the data&lt;/em&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; in the csv file / &lt;/span&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;change the status of the record&lt;/em&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; as appropriate before retrying again.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Failure_Reason</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Failure Reason:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Fetch_Failure_message_from_Recieved_Document.FailureReason}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Failed Record Count:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Fetch_Failure_message_from_Recieved_Document.FailedRecordCount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Entity_for_Upload</name>
        <label>Select Entity for Upload</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRecords_from_RecievedDocument</targetReference>
        </connector>
        <fields>
            <name>selectedEntity</name>
            <extensionName>c:pickObjectAndField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideFieldPicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Select the Target Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectLabel</name>
                <value>
                    <stringValue>Select the Target Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableObjectTypes</name>
                <value>
                    <stringValue>Account,AirTravelEmssnFctr, AirTravelEnrgyUse, AnnualEmssnInventory, AnnualEmssnRdctnTarget, AntiCorruptionInitSum, BldgEnrgyIntensity, BldgEnrgyIntensityVal, BldgSizeCategory, CrbnCreditAlloc, CrbnCreditDistribution, CrbnCreditProject, CrbnEmssnScopeAlloc, DisclsReportingPeriod, DivrsEquityInclSum, EconomicPerformanceSum, ElectricityEmssnFctrSet, EmissionsActivity, EmissionsForecastFact, EmpBenefitSummary, EmployeeDemographicSum, EmployeeDevelopmentSum, EmssnRdctnCommitment, EmssnReductionTarget, EnvironmentalRisk, FrgtHaulingEmssnFctr, FrgtHaulingEnrgyUse, GeneratedWaste, GovtFinancialAsstSum, GroundTravelEmssnFctr, GroundTravelEnrgyUse, HotelStayEmssnFctr, HotelStayEnrgyUse, InflationRate, OrgIncidentSummary, OtherEmssnFctrSet, OtherEmssnFctrSetItem, PcmtEmssnFctrSet, PcmtEmssnFctrSetItem, ProductEmissionsFactor, RefrigerantEmssnFctr, RentalCarEmssnFctr, RentalCarEnrgyUse, Scope3CrbnFtprnt, Scope3EmssnSrc, Scope3PcmtItem, Scope3PcmtSummary, SocialContributionSum, StnryAssetAnnualFact, StnryAssetCrbnFtprnt, StnryAssetEnrgyUse, StnryAssetEnvrSrc, StnryAssetWaterActvty, StnryAssetWaterFtprnt, Supplier, SupplierProduct, SustainabilityCredit, SustainabilityPurchase, SustainabilityScorecard, TaxDisclosureSummary, VehicleAssetCrbnFtprnt, VehicleAssetEmssnSrc, VehicleAssetEnrgyUse, WasteFootprint, WstDispoEmssnFctrSet, WstDispoEmssnFctrSetItm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Success_Message</name>
                    <fieldText>&lt;p&gt;The data has been queued for processing. Once it completes, you will be able to see the results in the &lt;strong&gt;&quot;Processing Information&quot;&lt;/strong&gt; &lt;em&gt;section&lt;/em&gt; of the Received Document record.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Entity_for_Upload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedEntityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
